font-family: 'Fantasy';

svg {
    height: 100vh;
}

body {
    background-color: white;
}


path {
    stroke: #222;
    fill: transparent;
    transition: 0.5s;
    cursor: pointer;
}

path:active {
    transform: translate(-5px,-5px);
}

path:active:hover {
    fill: #green;
    transform: translate(-5px,-5px);
}

path:hover{
    stroke-width: 4px;
}
.title_area {
    position: absolute;
    left: 500px;
    /*   top: 650px; */
    color: #222;
    font-size: 30px;
}

span {
    color: #B99362;
    padding-left: 10px;
}

hr {
    width: 100px;
    margin-left: 0;
    border: none;
    border-bottom: solid 2px #222;
}

.forcast {
    h2,h4,h5 margin: 0;
    h2 margin-top: 20px;
}

text {
    font-size: 16px;
    font-family: Open Sans, sans-serif;
}

    text.label {
        font-weight: 600;
        
    }

    text.valueLabel {
        font-weight: 300;
    }

    text.yearText {
        font-size: 64px;
        font-weight: 700;
        opacity: 0.25;
    }

.tick text {
    fill: #777777;
}

.xAxis .tick:nth-child(2) text {
    text-anchor: start;
}

.xAxis .domain {
    display: none;
}

.tick line {
    shape-rendering: CrispEdges;
    stroke: #dddddd;
}

    .tick line.origin {
        stroke: #aaaaaa;
    }


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.line {
  fill: none;
  stroke-width: 3px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.hover-line {
  stroke: #B74779;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}
#playButton{
  position: absolute;
  top: 750px;
  left: 1100px;
}

.hoverCircle {
  stroke: red;
  stroke-width: 4;
  fill: none;
}

.playpause label {
  position: absolute;
  top: 750px;
  left: 1100px;
  display: block;
  box-sizing: border-box;
  width: 0;
  height: 74px;
  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 37px 0 37px 60px;
}
.playpause input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}
.playpause input[type="checkbox"]:checked + label {
  border-style: double;
  border-width: 0px 0 0px 60px;

}
